*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{


    --primary-color: rgb(333, 333, 333);
    /* secndary
    acentuado
    danger */

}

main{
    margin: 64px;
}

main>div{
    height: 100%;
    background-color: antiquewhite;

}


.item{
    background-color: rgb(40, 34, 34);
    grid-row: auto;
    flex: 1;
}


footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  

}

#inventory-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  background-color:brown;
  width: 700px;
  border-radius: 6px;
  margin: 10px 20%;

}

.item {
  aspect-ratio: 1 / 1;
  background-color: #2f2a27;
  border: 2px solid #b6975b;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* transition: transform 0.2s, box-shadow 0.2s; */

}

@media (width < 640) {

#inventory-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  background-color:brown;
  width: 300px;
  border-radius: 6px;
  margin: 10px 20%;

}
    
}

.item:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px #b6975b;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}